<div class="starter-template-header">
    <h1>Herzlich willkommen auf der Webseite der Dreifaltigkeitskirchgemeinde Leipzig.</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
</div>

<div ng-controller="HomeLosungenCtrl as ctrl" ng-show="ctrl.losungen">
    <h2>Die Losungen</h2>
    <dl>
        <dt>Losungstext {{ ctrl.losungen.Datum }}</dt>
        <dd>{{ ctrl.losungen.Losungstext }} <small>{{ ctrl.losungen.Losungsvers }}</small></dd>
        <dt>Lehrtext {{ ctrl.losungen.Datum }}</dt>
        <dd>{{ ctrl.losungen.Lehrtext }} <small>{{ ctrl.losungen.Lehrtextvers }}</small></dd>
    </dl>
    <p><a href="http:// www.herrnhuter.de">&copy; Evangelische Brüder-Unität – Herrnhuter Brüdergemeine</a> | <a href="http://www.losungen.de">Weitere Informationen finden Sie hier.</a></p>
</div>

<div ng-controller="HomeMainLinksCtrl as ctrl">
    <h2>Links zu den Seiten</h2>
    <div class="row">
        <div class="col col-md-4" ng-repeat="page in ctrl.pages">
            <a ui-sref="page({slug: page.getSlug() })">{{ page.title }}</a>
        </div>
    </div>
</div>

<div ng-controller="HomeEventsCtrl as ctrl">
    <h2>Aktuelle Veranstaltungen</h2>
    <div class="row">
        <div class="col col-md-4" ng-repeat="event in ctrl.events">
            <p><a>{{ event.title }}</a></p>
            <p>{{ event.begin }}</p>
            <p>{{ event.get_type_display }}</p>
        </div>
    </div>
</div>
