<div class="row">

    <div class="col col-md-3" ng-controller="MenuCtrl as ctrl">
        <h1>Menü</h1>
        <main-menu-tree element="ctrl.rootElement" slug="ctrl.slug"></main-menu-tree>
    </div>

    <div class="col col-md-9" ng-controller="PageCtrl as ctrl">
        <h1>Seiteninhalt</h1>
        <h2>{{ ctrl.page.title }}</h2>
        {{ ctrl.page.content }}

        <div ng-show="ctrl.events">
            <h2>{{ ctrl.eventType.human_readable_value_plural }}</h2>
            <p ng-show="ctrl.events.length == 0">Derzeit keine ...</p>
            <ul ng-repeat="event in ctrl.events">
                <li>
                    <p>{{ event.title }}</p>
                    <p>{{ event.begin }}</p>
                </li>
            </ul>
        </div>

    </div>

</div>
